@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.background {
	width: 100vw;
	height: 100vh;
	background-color: #f5f6fa;
}

.app {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.facebookButton {
	border: 0;
	width: 100vw;
	height: 50px;
	background-color: #4267B2;
	color: #FFFFFF;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	cursor: pointer;
}

.iconFace {
	padding-bottom: 3px;
}


.tagline {
	font-size: 25px;
	font-weight: 400;
	color: #1C42FA;
	font-family: 'Lato', sans-serif;
}

.footer {
	position: fixed;
	top: 100%;
	transform: translateX(0) translateY(-100%);
}

.smallfont {
	font-weight: 300;
}