@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.container {
  width:980px;
  height:700px;
  margin:0 auto;
  position:relative;
  top:20px;
}

.box {
  position:absolute;
  margin:0 auto;
  top:50%;
  left:50%;
  width:300px;
  height:300px;
  border-radius: 15px;
  background: #6c5ce7;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;  
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 34px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

#topleft{
  margin-top:-310px;
  margin-left:-310px;
}
#topright{
  margin-top:-310px;
  margin-left:30px;
}
#bottomleft{
  margin-top:30px;
  margin-left:30px;
}
#bottomright{
  margin-top:30px;
  margin-left:-310px;
}