.parent {
	position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    padding: 50px;
    text-align: center;
}

h1 {
	color: #FFFFFF;
}

.text {
	width: 360px;
  background: #fff;
  color: #bdc3c7;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  border-radius: 15px;
  outline: 0;
  padding: 22px 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.button {
	background-color: #FFFFFF;
  box-shadow: 0 2px 20px rgba(0,0,0,.25);
  border: none;
  color: #6c5ce7;
  padding: 30px 64px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  border-radius: 20px;
  padding: 15px 32px;
  margin-bottom: 100px;
  transition: .25s ease;
  cursor: pointer;
  z-index: 0;
  font-family: 'Lato', sans-serif;
}

.button:hover {
	color: #6c5ce7;
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,.25);
	box-shadow: 0 10px 20px rgba(0,0,0,.25);
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px)
}

.images {
	width: 150px;
}

.download {
	color: #FFFFFF;
	font-size: 40px;
}

.dropZone {
	background-color: #6c5ce7;
	border-style: solid;
	border-radius: 20px;
	border-color: #fff;
	border-width: 3px;
	padding: 30px;
  margin: 30px;
}

.dropZone:hover {
  	cursor: pointer;
}

.dropZoneActive {
  background-color: #bdc3c7;
  padding: 100px;
}
